[MESSAGES CONTROL]
#C0103: Constant name "tid_high_init" doesn't conform to UPPER_CASE naming style (invalid-name)
#C0114: Missing module docstring (missing-module-docstring)
#C0115: Missing class docstring (missing-class-docstring)
#C0116: Missing function or method docstring (missing-function-docstring)
#C0200: Consider using enumerate instead of iterating with range and len (consider-using-enumerate)
#C0301: Line too long (113/100) (line-too-long)
#C0302: Too many lines in module (9127/1000) (too-many-lines)
#C0321: More than one statement on a single line (multiple-statements)
#C0325: Unnecessary parens after 'if' keyword (superfluous-parens)
#C0326: No space allowed after bracket
#C0330: Wrong continued indentation before block (add 4 spaces).
#W0108: Lambda may not be necessary (unnecessary-lambda)
#W0311: Bad indentation. Found 2 spaces, expected 4 (bad-indentation)
#W0401: Wildcard import tkinter (wildcard-import)
#W0601: Global variable 'dlg_hist_sel' undefined at the module level (global-variable-undefined)
#W0603: Using the global statement (global-statement)
#W0614: Unused import MITER from wildcard import (unused-wildcard-import)
#W0702: No exception type(s) specified (bare-except)
#W0703: Catching too general exception Exception (broad-except)
#R0201: Method could be a function (no-self-use)
#R0902: Too many instance attributes (8/7) (too-many-instance-attributes)
#R0903: Too few public methods (0/2) (too-few-public-methods)
#R0912: Too many branches (18/12) (too-many-branches)
#R0913: Too many arguments (6/5) (too-many-arguments)
#R0914: Too many local variables (16/15) (too-many-locals)
#R0915: Too many statements (52/50) (too-many-statements)
#R1705: Unnecessary "else" after "return" (no-else-return)
#R1714: Consider merging these comparisons with "in" to "last_key_char in ('z', 'g')" (consider-using-in)
#R1716: Simplify chained comparison between the operands (chained-comparison)
#R1724: Unnecessary "else" after "continue" (no-else-continue)
disable=C0102,C0103,C0114,C0115,C0116,C0200,C0301,C0302,C0321,C0325,C0326,C0330,W0108,W0311,W0401,W0601,W0603,W0614,W0702,W0703,R0201,R0902,R0903,R0912,R0913,R0914,R0915,R1705,R1714,R1716,R1724
